{% extends 'base.html' %}
{% block title %}Timed Calculator{% endblock %}
{% block body %}
    <form action="#" method="post">
        <input type="number" name="hour" max="22" value="0" style="width: 60px;" required>:<input type="number"
                                                                                                  name="minute" max="59"
                                                                                                  value="0"
                                                                                                  style="width: 60px;"
                                                                                                  required>:<input
            type="number" name="second" max="59" value="0" style="width: 60px;" required>
        <input type="submit" value="Calculate">
    </form>
    {% if data is defined %}
        {% if "exact" in data.keys() %}
            <hr>
            <p>Target Time: <code>{{ data["time"] }}</code></p>
            <p>Put exactly this amount of items in the dropper:</p>
            <hr>
            Multiplier (items): <code>{{ data["exact"] }}</code><br>
            Multiplier (stacks): <code>{{ (data["exact"] / 64)|round(0,'floor')|int }} stacks
            and {{ data["exact"] - (data["exact"] / 64)|round(0,'floor')|int * 64 }} items</code><br>
            <p>Results in: <code>{{ data["time"] }}</code></p>
        {% else %}
            <hr>
            <p>Target Time: <code>{{ data["target"] }}</code></p>
            <p>Can't get the exact time specified, instead find the closest times below (lower and higher):</p>
            <hr>
            Multiplier (items): <code>{{ data["lower"] }}</code><br>
            Multiplier (stacks): <code>{{ (data["lower"] / 64)|round(0,'floor')|int }} stacks
            and {{ data["lower"] - (data["lower"] / 64)|round(0,'floor')|int * 64 }}</code><br>
            <p>Results in: <code>{{ data["lower_time"] }}</code></p>
            <hr>
            Multiplier (items): <code>{{ data["higher"] }}</code><br>
            Multiplier (stacks): <code>{{ (data["lower"] / 64)|round(0,'floor')|int }} stacks
            and {{ data["higher"] - (data["higher"] / 64)|round(0,'floor')|int * 64 }}</code><br>
            <p>Results in: <code>{{ data["higher_time"] }}</code></p>
        {% endif %}
    {% endif %}
{% endblock %}