{% extends 'base.html' %}
{% block title %}New Shortened URL{% endblock %}
{% block body %}
    <form action="#" method="post">
        <label for="spf">Shortened Postfix (leave empty for random):</label><br>
        <input type="text" id="spf" name="short" style="width: 80%;"><br>
        <label for="lurl">Long URL:</label><br>
        <input type="text" id="lurl" name="long" style="width: 80%;"><br><br>
        <input type="submit" value="Submit">
    </form>
    {% if pin is defined %}
        <hr>
        <label for="shortened_url">Shortened URL:</label>
        <input onClick="this.select();" id="shortened_url"
               value="{{ request.url_root[:-1] }}{{ url_for("shortener.rdr", sub=short) }}"
               style="width:70%" /><br>
        <label for="deletion_url">Deletion URL:</label>
        <input onClick="this.select();" id="deletion_url"
               value="{{ request.url_root[:-1] }}{{ url_for("shortener.delete", sub=short, pin=pin) }}"
               style="width:70%" />
    {% endif %}
{% endblock %}