{% extends 'base.html' %}
{% block title %}Dynamic Res Catalog{% endblock %}
{% block body %}
    <h1>Dynamic Restraint Catalog Addition</h1>
    <i>Thanks for contributing to this catalog! Please use your common sense and not abuse this.</i>
    <hr>
    <sup>Fields marked with an <i>*</i> are required.</sup><br><br>
    <form action="#" method="post" enctype="multipart/form-data">
        <label for="resfile">Restraint Texture File (.PNG) *:</label>
        <input type="file" id="resfile" name="resfile" required><br>
        <label for="type">Type *:</label>
        <select name="type" id="type" required>
            <option value="Ropes">Ropes</option>
            <option value="Chains">Chains</option>
            <option value="Straightjackets">Straightjackets</option>
            <option value="Slime">Slime</option>
            <option value="Ribbons">Ribbons</option>
            <option value="Latex">Latex</option>
            <option value="Straps">Straps</option>
            <option value="Wrap">Wrap</option>
            <option value="Armbinders">Armbinders</option>
            <option value="Gags">Gags</option>
            <option value="Blindfolds">Blindfolds</option>
            <option value="Hoods">Hoods</option>
            <option value="Collar">Collar</option>
            <option value="Earplugs">Earplugs</option>
            <option value="Other">Other</option>
        </select><br>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" maxlength="50"><br>
        <label for="preview">Preview Image:</label>
        <input type="file" id="preview" name="preview"><br>
        <label for="notes">Notes:</label>
        <input type="text" id="notes" name="notes" maxlength="150"><br><br>
        <input type="submit" value="Add" style="width: 75px;">
    </form>
{% endblock %}