.error {
    width: 100%;
    height: 50px;
    background-color: #f7c6c5;
    color: #8b0000;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.warning {
    width: 100%;
    height: 50px;
    background-color: #fff3cd;
    color: #c18b23;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.success {
    width: 100%;
    height: 50px;
    background-color: #d4edda;
    color: #2c6941;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.info {
    width: 100%;
    height: 50px;
    background-color: #d1ecf1;
    color: #2c778a;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.highlightBlock {
    border: 1px solid black;
    background-color: #eee;
    font-family: monospace, monospace;
    padding-left:3px;
    padding-right:3px;
}
